<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mongo="http://www.springframework.org/schema/data/mongo"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="200"/>
        <property name="maxTotal" value="1000"/>
        <property name="maxWaitMillis" value="10000"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>

    <!-- 缓存集群 -->
    <bean id="codisFactory" class="com.sto.redis.CodisFactory">
        <constructor-arg name="connectConfig">
            <bean class="com.sto.redis.entities.ConnectConfig">
                <property name="address" value="${data.redis.cluster.connection}"/>
                <property name="passWord" value="${data.redis.cluster.connection.passwds}"/>
                <property name="connectionTimeout" value="${data.redis.cluster.connection.timeout}"/>
                <property name="database" value="0"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="poolConfig" ref="poolConfig"/>
    </bean>
    <!-- redis 从库 -->
    <bean id="codisFactorySlave" class="com.sto.redis.CodisFactory">
        <constructor-arg name="connectConfig">
            <bean class="com.sto.redis.entities.ConnectConfig">
                <property name="address" value="${data.redis.slave.cluster.connection}"/>
                <property name="passWord" value="${data.redis.cluster.connection.passwds}"/>
                <property name="connectionTimeout" value="${data.redis.cluster.connection.timeout}"/>
                <property name="database" value="0"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="poolConfig" ref="poolConfig"/>
    </bean>

    <!-- 分布式锁-->
    <bean id="distributedLock" class="com.sto.locker.DistributedLock">
        <constructor-arg name="locker">
            <bean class="com.sto.locker.codis.CodisLocker">
                <constructor-arg name="codisFactory" ref="codisFactory"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="namespace" value="gemini-virgo-service"/>
    </bean>
</beans>